/.editorconfig linguist-vendored
/.prettierignore linguist-vendored
/.prettierrc.toml linguist-vendored

/src/tree_sitter/** linguist-generated
/src/binding.cc linguist-generated
/src/grammar.json linguist-generated
/src/node-types.json linguist-generated
/src/parser.c linguist-generated

/index.js linguist-generated
